@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="offset6 span12">
            <div class="hero-unit" style="text-align:center">
                <h1>Animación, fácil</h1>
                <p>Utiliza Tease para crear animaciones al instante.</p>
                <p>
                    <a href="/Account/Register" class="btn btn-primary btn-large">Registrarse</a>
                </p>
            </div>
        </div>
    </div>
    <hr>
</div>