@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tease</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="TeaseRes/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="TeaseRes/style/app.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top top-nav">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Tease</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="#">Nuevo</a></li>
              <li><a href="#about">Abrir</a></li>
              <li><a href="#contact" id="btnSave">Guardar</a></li>
              <li><a href="#contact">Copiar</a></li>
              <li><a href="#contact">Pegar</a></li>
              <li><a href="#contact">Opciones</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2" id="toolbar">
        </div>
        <div class="span19" style="min-height:650px; padding: 5px" id="canvas">
        </div>
        <div class="span3" id="propertyeditor">
          <p class="noselection">No hay elemento seleccionado</p>
        </div>
      </div>

    <div class="nav navbar-fixed-bottom">
        <div id="zoombar" class="row-fluid">
            <div class="span3 offset21" style="padding-left: 10px"><span class="zoom"><img src="TeaseRes/res/zoom.png" />100%</span></div>
        </div>
        <div id="timeline" class="navbar-inner">
            <div class="container-fluid">
                <div class="row-fluid">
                    <img src="TeaseRes/res/play-icon.png" id="play-button" /> <img src="TeaseRes/res/stop-icon.png" id="stop-button" />
                </div>
                <div id ="timeline-workspace" class="row-fluid">                                    
                    <div id="timeline-layers" class="span2">
                        <div class="timeline-layercontrols"><img id="newlayer-btn" src="TeaseRes/res/new-layer.jpg" /> <img id="trashlayer-btn" src="TeaseRes/res/trash.gif" /></div>
                        <div id="timeline-layerlist"></div>
                    </div>
                    <div id="timeline-framelist" class="span20">
                        <div id="timeline-numbers"></div>
                        <div id="timeline-ruler"></div>
                        <div id="timeline-frames">
                        </div>
                    </div>

                    <div id="timeline-options" class="span2">
                        <img id="timelinenav-leftbutton" src="TeaseRes/res/previousframes-icon.png" /> <img id="timelinenav-rightbutton" src="TeaseRes/res/nextframes-icon.png" />
                    </div>
                </div>
                <div class="nav-collapse collapse">
                </div><!--/.nav-collapse -->
            </div>
        </div>
        <div id="statusbar" class="navbar navbar-fixed-bottom">
            <strong>index.html</strong> Last saved: 6 minutes ago
        </div>
    </div>
      <hr>

      <footer>
        <p>&copy; TTeam 2013</p>
      </footer>

    </div> <!-- /container -->

    <!--Indicates the page ID-->
    <input type="hidden" id="pageID" value="@ViewBag.pageID" />

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="TeaseRes/lib/json2.js"></script>
    <script src="TeaseRes/lib/ace/ace.js"></script>
    <script src="TeaseRes/lib/jquery.js"></script>
    <script src="TeaseRes/lib/jquery.color.js"></script>
    <script src="TeaseRes/lib/bootstrap/js/bootstrap.js"></script>
    <script src="TeaseRes/base/Attribute.js"></script>
    <script src="TeaseRes/base/Environment.js"></script>
    <script src="TeaseRes/base/AnimationRenderer.js"></script>
    <script src="TeaseRes/base/Frame.js"></script>
    <script src="TeaseRes/base/Layer.js"></script>
    <script src="TeaseRes/base/Eventable.js"></script>
    <script src="TeaseRes/base/Element.js"></script>
    <script src="TeaseRes/base/PageSynchronizer.js"></script>
    <script src="TeaseRes/base/code_generation/CodeGenerator.js"></script>
    <script src="TeaseRes/base/code_generation/HTMLGenerator.js"></script>
    <script src="TeaseRes/base/code_generation/JSGenerator.js"></script>
    <script src="TeaseRes/base/code_generation/CSSGenerator.js"></script>
    <script src="TeaseRes/base/code_generation/CodeGenerationUtils.js"></script>
    <script src="TeaseRes/tools/PropertyDisplayGroup.js"></script>
    <script src="TeaseRes/tools/Tool.js"></script>
    <script src="TeaseRes/tools/PropertyMapping.js"></script>
    <script src="TeaseRes/tools/BaseTool.js"></script>
    <script src="TeaseRes/tools/TextTool.js"></script>
    <script src="TeaseRes/tools/DimensionableTool.js"></script>
    <script src="TeaseRes/tools/BackgroundableTool.js"></script>
    <script src="TeaseRes/tools/RectangleTool.js"></script>
    <script src="TeaseRes/tools/ImageTool.js"></script>
    <script src="TeaseRes/tools/AudioTool.js"></script>
    <script src="TeaseRes/tools/PointerTool.js"></script>
    <script src="TeaseRes/tools/CanvasTool.js"></script>
    <script src="TeaseRes/gui/toolbars/Toolbar.js"></script>
    <script src="TeaseRes/gui/toolbars/property-controls/StringPropertyControl.js"></script>
    <script src="TeaseRes/gui/toolbars/property-controls/PropertyDisplay.js"></script>
    <script src="TeaseRes/gui/canvas/SizingTool.js"></script>
    <script src="TeaseRes/gui/canvas/SelectionTool.js"></script>
    <script src="TeaseRes/gui/canvas/ElementGroup.js"></script>
    <script src="TeaseRes/gui/canvas/SelectedElementOptions.js"></script>
    <script src="TeaseRes/gui/canvas/RotationTool.js"></script>
    <script src="TeaseRes/gui/canvas/Canvas.js"></script>
    <script src="TeaseRes/gui/toolbars/PropertyEditor.js"></script>
    <script src="TeaseRes/gui/toolbars/Timeline.js"></script>
    <script src="TeaseRes/base/Layer.js"></script>
    <script src="TeaseRes/Main.js"></script>
  </body>
</html>
